@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: "Cormorant Garamond", serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f6f7;
}
/* Header */
header {
  color: #f0dac5;
  display: flex;
  flex-direction: column;
}

/* Top Section: Social Icons */
.top-bar {
  background-color: #f0dac5;
  padding: 10px;
  text-align: center;
  padding-left: 140px;
  padding-right: 150px;
}

.social-icons {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.social-icons li a {
  text-decoration: none;
  color: #392424;
  font-size: 1.2rem;
}
.social-icons li a:hover {
  color: #608750;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #392424;
  height: auto;
  padding-left: 140px;
  padding-right: 150px;
}
/* Middle Section: Logo */
.logo-container {
  flex-basis: 25%;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  top: auto;
  left: 19px;
}

/* Bottom Section: Navigation */
.navbar {
  flex-basis: 75%;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.8;
}

.navbar-nav li {
  vertical-align: top;
  margin: 0 1rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: inline-block;
}
.navbar-nav li a {
  text-decoration: none;
  color: #f0dac5;
  font-weight: 600;
  transition: color 0.3s;
  margin-left: 10px;
  font-size: 15px !important;
  text-transform: uppercase;
}

.navbar-nav li a:hover {
  color: #964b00;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f8e6b1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .top-bar {
    padding: 0.5rem;
  }

  .main-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
  }

  .logo-container img {
    padding: 20px;
    width: 90%;
    height: 90%;
    border-radius: 0;
  }

  .hamburger-menu {
    font-size: 1.8rem;
    display: block;
    cursor: pointer;
    color: #f0dac5;
    position: absolute; /* Add this */
    z-index: 20;
    left: 0;
  }

  /* Navigation */
  .navbar {
    padding: 1rem 0;
    display: flex !important;
    justify-content: space-around !important;
    width: 100%;
  }

  .navbar-nav {
    margin-top: 4.6rem;
    margin-left: 0 !important;
    list-style: none;
    display: none;
    flex-direction: column !important;
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 3.5rem;
    width: 400px;
    left: 0;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: rgba(57, 36, 33, 255);
  }
  .navbar-nav li a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    margin-left: 40px;
  }
  .navbar-nav.active {
    background-color: #fff;
    display: none;
  }

  .navbar-nav li {
    border-bottom: 1px solid#354729;
    width: 100%;
    max-width: 100%;
    height: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    font-weight: 400;
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .top-bar {
    padding: 1rem;
  }

  .logo-container img {
    width: 100%;
  }

  .hamburger-menu {
    font-size: 1.9rem;
    display: block;
    cursor: pointer;
    color: #f0dac5;
    position: absolute; /* Add this */
    z-index: 20;
    right: 10;
  }

  /* Navigation */
  .navbar {
    padding: 1rem 0;
    display: flex !important;
    justify-content: space-around !important;
    width: 100%;
  }

  .navbar-nav {
    margin-top: 4.6rem;
    margin-left: 0 !important;
    list-style: none;
    display: none;
    flex-direction: column !important;
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 100%;
    width: 100%;
    padding-bottom: 0;
    padding-right: 10px;
  }

  .navbar-nav li {
    border-bottom: 1px solid#354729;
    width: 100%;
    height: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px !important;
  }

  .navbar-nav li a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    margin-left: 30px;
  }
}
/* the home styling starts here */
#home {
  position: relative;
  height: 90%;
  overflow: hidden;
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.description .hero-wrapper-two-3 {
  letter-spacing: 4px;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 18px;
  font-size: 37px;
  font-weight: 600;
  line-height: 40px;
}

.hero-wrapper-3 > img {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
}
.description h1 {
  width: 100%;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: #bd9879;
  color: #fff;
}
.description p {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #bd9879;
  color: #fff;
}

@media (max-width: 767px) {
  /* Mobile devices */
  #home {
    height: 80vh;
    width: 100%;
  }

  .description .hero-wrapper-two-3 {
    letter-spacing: 4px;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 600;
    line-height: 10px;
  }

  .hero-wrapper-3 > img {
    border-radius: 50%;
  }
  .description h1 {
    width: 100%;
    /* margin-top: 0px; */
    font-size: 20px;
    font-weight: 700;
    color: #bd9879;
  }
  .description p {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 600;
    color: #bd9879;
  }
}

/* ....................................... */

.ff1 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-4 {
  text-align: left;
  background-color: #0000;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  left: auto;
  font-size: clamp(18px, 2.5vw, 28px);
  line-height: 1.5;
  font-weight: 500;
}
.text-block5 {
  text-align: left;
  width: 80%;
  position: relative;
}
.text-block5 p {
  font-size: clamp(15px, 1.6vw, 18px) !important;
  line-height: 1.7;
}
.images-container {
  justify-content: space-between;
  display: flex;
  position: relative;
}
.content-container {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  position: relative;
}

.image-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
.image-wrapper:hover {
  background-color: #e3e3e3;
  opacity: 0.5;
}
.image-wrapper img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
  padding-bottom: 0;
}
a:active,
a:hover {
  outline: 0;
}
a {
  text-decoration: underline;
  background-color: #0000;
}
.div-block-35,
.div-block-36,
.div-block-37 {
  position: relative;
  /* width: 100%;
  height: 100%; */
}
.heading-15 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: clamp(18px, 2.5vw, 28px);
  line-height: 1.5;
}
.button-22 {
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  width: 100%;
  margin-top: 15px;
  padding: 15px 0;
}

.overlay-3 {
  opacity: 0;
  background-color: #e3e3e3;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.image-34 {
  width: 500px;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .ff1 {
    padding-bottom: 40px;
    margin: auto 10px;
  }

  .text-block5 {
    text-align: left;
    width: 90%;
    position: relative;
  }
  .text-block-4 {
    text-align: left;
    width: 100%;
    /* font-size: 18px;
    font-weight: 500; */
    line-height: normal;
    position: relative;
    left: auto;
  }
  .images-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .content-container {
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .image-wrapper {
    width: 100%;
    height: 100%;
  }
  .image-wrapper img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .image-34 {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
/* -------------------------- */
section {
  display: block;
}

.hero-heading-right-2 {
  background-color: #0000;
  border-bottom: 1px solid #e4ebf3;
  padding: 0 0 80px;
  position: relative;
}
.text-block-quote {
  width: 86%;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  left: 100px;
  font-size: clamp(18px, 2.5vw, 28px);
  line-height: 1.5;
}
@media screen and (min-width: 1280px) {
  .hero-heading-right-2 {
    flex-flow: column;
    padding-top: 0;
    display: flex;
  }
}

.container-7 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-3 {
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 120%;
  max-width: 130%;
  padding-top: 20px;
  display: flex;
  position: relative;
  left: -79px;
  height: auto;
}

@media screen and (min-width: 1280px) {
  .hero-wrapper-3 {
    flex: none;
    max-width: 120%;
  }
}

img {
  border: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

p {
  margin-top: 0;
  font-weight: 400;
  font-style: normal;
  font-family: "Cormorant Garamond", serif !important;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
  margin-bottom: 1rem;
}

.hero-split-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45.999%;
  max-width: 46%;
  display: flex;
}

.shadow-two-3 {
  box-shadow: 0 4px 24px #96a3b514;
}

@media screen and (min-width: 1280px) {
  .shadow-two-3 {
    background-color: none;
    flex: none;
  }
}

.image-15 {
  width: 100%;
  max-width: 120%;
  height: 2.76093%;
  position: relative;
  left: -17px;
  height: 100%;
}

@media screen and (min-width: 1280px) {
  .image-15 {
    flex: none;
  }
}

.margin-bottom-24px-5 {
  color: #000;
  width: 100%;
  margin-bottom: 24px;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: rgba(57, 36, 33, 255);
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.button-primary-5 {
  color: #000;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  background-color: rgba(57, 36, 33, 255);
  border: 2px solid #000;
  width: 100%;
  padding: 12px 25px;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
  line-height: 20px;
}

@media screen and (min-width: 1280px) {
  .button-primary-5 {
    flex: none;
  }
}

a:active,
a:hover {
  outline: 0;
}

.button-primary-5:hover {
  color: #fff;
  background-color: #32343a;
}

strong {
  font-weight: bold;
}
@media (max-width: 767px) {
  .hero-heading-right-2 {
    width: 98%;
    background-color: #0000;
    border-bottom: 1px solid #e4ebf3;
    margin: 20px 15px 0px 15px;
    position: relative;
  }
  .text-block-quote {
    width: 96%;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
  }
  .hero-wrapper-3 {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: static;
    max-width: 100%;
  }
  .shadow-two-3 {
    width: 210%;
    max-width: 210%;
    background: none;
  }
  .margin-bottom-24px-5 {
    text-align: left;
    width: 210%;
    max-width: 210%;
    position: relative;
  }
  .image-15 {
    width: 100%;
    text-align: center;
  }
  .button-primary-5 {
    color: #f0dac5;
    line-height: inherit;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    width: 100%;
    margin-top: 15px;
    display: inline-block;
  }
}
/* --------about us css starts from here--------------- */

section {
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.hero-stack-about {
  background-image: url("img/pexels-andre-taissin-3252911-6239866.jpg");
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 220px;
  padding-bottom: 220px;
}

@media screen and (min-width: 1280px) {
  .hero-stack-about {
    width: 100%;
  }
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-3 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

p {
  margin-top: 0;
  font-weight: 400;
  font-style: normal;
  font-family: "Cormorant Garamond", serif !important;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
  margin-bottom: 1rem;
}

.margin-bottom-24px-4 {
  color: #000000;
  letter-spacing: 4px;
  width: 130%;
  margin-top: 48px;
  margin-bottom: 68px;
  font-size: clamp(24px, 4vw, 48px);
  font-weight: 700;
  line-height: 40px;
}

@media screen and (min-width: 1280px) {
  .margin-bottom-24px-4 {
    width: 120%;
    max-width: 200%;
    font-weight: 700;
  }
}
@media screen and (max-width: 767px) {
  .margin-bottom-24px-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* ----this is the next section on the about us page -------------- */
.text-block-about {
  color: #000000;
  text-align: left;
  width: 100%;
  padding-bottom: 0;
  padding-left: 180px;
  padding-right: 180px;
  position: relative;
  left: auto;
}

@media screen and (min-width: 1280px) {
  .text-block-about {
    width: 100%;
    padding-left: 180px;
    padding-right: 180px;
    left: auto;
    font-size: clamp(18px, 2.5vw, 28px);
    line-height: 1.5;
    font-weight: 500;
  }
}
.storys {
  height: 100%;
  width: 100%;
  padding-left: 180px;
  padding-right: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(24px, 3vw, 32px);
  line-height: 1.5;
}
.col-story {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  flex: 0.3;
}
.col-story9 {
  flex: 0.7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-story9 > img {
  position: relative;
  width: 100%;
}
.text-block-7 {
  text-align: left;
  width: 100%;
  padding-bottom: 40px;
  padding-left: 180px;
  padding-right: 180px;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-family: "Cormorant Garamond", serif !important;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
}

.link-19 {
  color: #337ab7;
  text-decoration: none;
}

.link-19:hover {
  color: #23527c;
  text-decoration: underline;
}

.snipcss0-4-73-74,
.snipcss0-4-73-75,
.snipcss0-4-73-76,
.snipcss0-4-73-77,
.snipcss0-4-73-78,
.snipcss0-4-73-81,
.snipcss0-4-73-82,
.snipcss0-4-73-83,
.snipcss0-4-73-84 {
  clear: both;
}

.snipcss0-4-73-79,
.snipcss0-4-73-80 {
  font-style: italic;
  font-weight: 600;
}
/* ------------------------------------ */

.hero-wrapper-4 {
  padding-left: 180px;
  padding-right: 180px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  margin-bottom: 3rem;
}
.hero-wrapper-4:nth-child(odd) {
  flex-direction: row-reverse;
  padding-left: 180px;
  padding-right: 180px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  display: flex;
  position: relative;
  height: 100%;
}

@media screen and (min-width: 1280px) {
  .hero-wrapper-4 {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    display: flex;
    position: relative;
    overflow: visible;
  }
}

.hero-split-4 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

.shadow-two-4 {
  width: 100%;
  max-width: 100%;
  position: relative;
  left: auto;
  box-shadow: 0 4px 24px #96a3b514;
}

@media screen and (min-width: 1280px) {
  .shadow-two-4 {
    width: 100%;
    left: auto;
  }
}

.columns-2 {
  width: 100%;
}

.w-row:before,
.w-row:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-row:after {
  clear: both;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.margin-bottom-24px-6 {
  text-align: left;
  width: 100%;
  position: relative;
  left: auto;
  font-weight: 400;
  font-style: normal;
  font-family: "Cormorant Garamond", serif !important;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
}

.w-col {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.w-col-5 {
  width: 41.6667%;
}

.column-2 {
  padding-left: 0;
  padding-right: 0;
}

.w-col-7 {
  width: 58.3333%;
}

.column {
  padding-left: 0;
  padding-right: 0;
  top: 10px;
  left: 23px;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h1 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

.heading-4 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: clamp(24px, 1vw, 32px);
  position: relative;
  left: auto;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .heading-4 {
    line-height: 1.2;
    text-align: center;
  }
}

.image-17 {
  position: relative;
  left: -30px;
}

@media screen and (min-width: 1280px) {
  .image-17 {
    left: -32px;
  }
}
@media (max-width: 768px) {
  .text-block-about {
    font-size: clamp(20px, 2.5vw, 28px);
    line-height: 1.5;
    font-weight: 500;
    padding: 15px;
    position: relative;
  }
  .storys {
    padding: 15px;
    font-size: clamp(24px, 3vw, 32px);
    line-height: 1.5;
    flex-direction: column;
  }
  .col-story {
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    flex: 1;
  }
  .col-story9 {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col-story9 > img {
    position: relative;
    width: 100%;
  }
  .text-block-7 {
    padding-bottom: 40px;
    position: relative;
    padding: 15px;
  }
  /* -------------------- */
  .hero-wrapper-4 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 15px;
  }
  .hero-wrapper-4:nth-child(odd) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 15px;
  }

  .hero-split-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    height: 100%;
  }

  .shadow-two-4 {
    width: 100%;
    left: auto;
  }

  .columns-2 {
    width: 100%;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: clamp(15px, 1.6vw, 18px);
    line-height: 1.7;
  }

  .margin-bottom-24px-6 {
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    left: auto;
  }

  .w-col {
    width: 100%;
    min-height: 1px;
    position: relative;
  }

  .w-col-5 {
    width: 100%;
  }

  .column-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .w-col-7 {
    width: 100%;
  }

  .column {
    padding-left: 0;
    padding-right: 0;
    top: 10px;
    left: 23px;
  }

  .heading-4 {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
    left: auto;
  }
  .image-17 {
    left: auto;
    margin-bottom: 10px;
    background: none;
  }
}
/* this is the styles for the team */

/* team member css */
#team {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-right: auto;
  margin-left: auto;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}
#team h3 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  color: #222222;
  display: grid;
  place-items: center;
  padding: 20px;
  font-size: clamp(18px, 2.5vw, 28px);
  line-height: 1.5;
}
#team p {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  color: #777;
  display: grid;
  place-items: center;
  padding: 15px;
  font-style: italic;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
}
#team h5 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  color: #050505;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-family: monospace;
  font-size: clamp(14px, 2.5vw, 18px);
  line-height: 1;
}
.team-member {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
}

.image-placeholder {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto;
}
.team-member .image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.team-member .image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.team-member h4 {
  margin: 15px;
  color: #000000;
  font-weight: 520;
}
/* --------contact us css starts from here--------------- */

section {
  display: block;
}

.hero-stack-contact {
  background-image: url("img/coffee.jpg");
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 220px;
  padding-bottom: 220px;
}

@media screen and (min-width: 1280px) {
  .hero-stack-contact {
    width: 100%;
  }
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-3 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.hero-stack-contact .margin-bottom-24px-4 {
  color: #f0dac5;
  letter-spacing: 4px;
  width: 100%;
  margin-top: 48px !important;
  margin-bottom: 68px !important;
  transform: translateY(0);
}

@media screen and (min-width: 1280px) {
  .hero-stack-contact.margin-bottom-24px-4 {
    width: 100%;
    max-width: 100%;
    font-weight: 600;
  }
}
@media screen and (max-width: 767px) {
  .hero-stack-contact .margin-bottom-24px-4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}
/* -------------------------- */

.w-col {
  text-align: center;
  /* width: 100%; */
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  transform: translateY(-10px);
}

.w-col-4 {
  width: 33.3333%;
}

.w-col-3 {
  width: 25%;
}

.column-3 {
  padding-left: 0;
  padding-right: 0;
}

.w-col-5 {
  width: 35.3333%;
}

.image-21 {
  width: 100%;
  max-width: 100%;
  position: relative;
  top: 10px;
}

@media screen and (min-width: 1280px) {
  .image-21 {
    width: 80%;
    left: 9px;
  }
}

.heading-3 {
  letter-spacing: 3px;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 40px;
  position: relative;
  left: 18px;
}

.image-16 {
  width: 100%;
  max-width: 110%;
  position: relative;
  top: 10px;
  left: auto;
}

@media screen and (min-width: 1280px) {
  .image-16 {
    width: 80%;
    left: -87px;
  }
}
.contact {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  font-family: "EB Garamond", serif !important;
}

.contact h5 {
  text-align: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(20px, 2.5vw, 28px);
  line-height: 1.5;
  position: relative;
  font-family: "EB Garamond", serif !important;
}
.contact p {
  font-family: "EB Garamond", serif !important;
  text-align: left;
  width: 100%;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(18px, 1.5vw, 20px);
  line-height: 1.7;
}
/* Optional: add some spacing between columns */
.contact .col-md-4 {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .w-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 2rem;
    transform: translateY(0px);
  }
  .w-col-4 {
    width: 100%;
  }

  .w-col-3 {
    width: 100%;
  }

  .column-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .w-col-5 {
    width: 100%;
  }
  .contact .col-md-4 {
    width: 100%;
    height: 100%;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
    height: 100%;
  }
}
.map {
  display: flex;
  justify-content: center;
  padding: 10px; /* Adjust the left and right padding as needed */
}

.map iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

/* --------contact us css starts from here--------------- */

section {
  display: block;
}

.hero-stack-concept {
  background-image: url("img/1.png");
  background-position: 50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 230px;
  padding-bottom: 230px;
  height: 100%;
}

@media screen and (min-width: 1280px) {
  .hero-stack-concept {
    width: 100%;
  }
}

.container-6 {
  width: 100%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.container-6 .div-block-8 {
  opacity: 0.7;
  background-color: #fff;
  border-radius: 20px;
  width: 35%;
  padding: 20px;
  position: relative;
  top: -86px;
  left: 127px;
}

.div-block-8 h1 {
  margin: 0.67em 0;
  margin-bottom: 10px;
  font-size: clamp(24px, 4vw, 48px);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.div-block-8 p {
  font-weight: 400;
  font-style: normal;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
}

.hero-stack-concept2 {
  background-image: url("img/Coffee Flowering.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 230px;
  padding-bottom: 230px;
  max-height: 100%;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .hero-stack-concept2 {
    max-width: 100%;
  }
}
.container-6 .div-block-7 {
  opacity: 0.7;
  background-color: #fff;
  border-radius: 13px;
  width: 35%;
  padding: 20px;
  position: relative;
  top: -88px;
  margin-left: auto;
  height: fit-content;
  right: 127px;
}

.div-block-7 h1 {
  margin: 0.67em 0;
  margin-top: 20px;
  font-size: clamp(24px, 4vw, 48px);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.div-block-7 p {
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
  margin-bottom: 1rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .hero-stack-concept {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-6 {
    width: 100%;
    max-width: max-content;
    left: 0;
  }
  .container-6 .div-block-8 {
    top: auto;
    width: 80%;
    left: auto;
    height: 100%;
  }
  .hero-stack-concept2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-6 .div-block-7 {
    top: auto;
    width: 80%;
    right: auto;
    height: 100%;
  }
}
/* online order css section starts here */

section {
  display: block;
}

.hero-stack-order {
  background-image: url("img/Untitled design.png");
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 220px;
  padding-bottom: 220px;
}

@media screen and (min-width: 1280px) {
  .hero-stack-order {
    width: 100%;
  }
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-3 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.margin-bottom-24px-4 {
  background-color: #392424;
  color: #f0dac5;
  letter-spacing: 4px;
  width: 75%;
  margin-top: 68px;
  margin-bottom: 38px;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  transform: translateY(190px);
}

@media screen and (min-width: 1280px) {
  .margin-bottom-24px-4 {
    font-weight: 500;
  }
}
@media screen and (max-width: 767px) {
  .margin-bottom-24px-4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}
/* General Styles */
.order {
  display: flex;
  flex-wrap: wrap; /* Ensures wrapping for smaller screens */
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 30px;
  height: 100%;
  width: 100%;
}

.order-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allows flexibility in layout for smaller screens */
  justify-content: space-between;
  align-items: flex-start;
}

.order-form {
  width: 60%;
  padding-right: 20px;
}

.order-form h2 {
  width: 100%;
  position: relative;
  font-size: clamp(24px, 2vw, 48px);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.order-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows items to stack if necessary */
}

.form-group {
  width: 48%;
  margin-bottom: 15px;
}

.form-group label {
  text-align: left;
  width: 100%;
  position: relative;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
  margin-bottom: 1rem;
}

.order-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: clamp(15px, 1.6vw, 18px);
  line-height: 1.7;
  outline: none;
}

textarea.order-input {
  resize: none;
}
.order-textarea {
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;
  vertical-align: middle;
  resize: none;
  box-sizing: border-box;
  min-height: 200px;
  line-height: 1.42857;
  width: 48ch;
}

.order-textarea:focus {
  border-color: #007bff; /* Highlighted border on focus */
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Subtle glow for focused state */
}

.order-submit {
  background-color: #392424;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: clamp(18px, 2.5vw, 21px);
  line-height: 1.5;
  cursor: pointer;
}

.order-details {
  width: 35%;
  padding-top: 30px;
  height: 100%;
}

.order-details h3 {
  width: 100%;
  margin-top: 0;
  position: relative;
  font-size: clamp(24px, 2vw, 48px);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.order-details p {
  width: 100%;
  position: relative;
  font-size: clamp(15px, 1.6vw, 18px) !important;
  line-height: 1.7;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .order-form {
    width: 65%;
  }

  .order-details {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .order {
    display: flex;
    width: 96%;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .margin-bottom-24px-4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .order-container {
    flex-direction: column;
  }

  .order-form {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .order-details {
    width: 100%;
    flex: 1;
  }
  .order-textarea {
    width: 50ch;
  }
  .order-input {
    width: 90%;
  }

  .order-row {
    flex-direction: column; /* Stack form fields */
  }

  .form-group {
    width: 100%; /* Full width for each form field */
  }
}

@media screen and (max-width: 480px) {
  .order {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .order-form h2 {
    font-size: 20px;
  }

  .order-submit {
    padding: 8px 15px;
  }

  /* .order-details h3 {
    font-size: 18px;
  }

  .order-details p {
    font-size: 16px;
  } */
  .order-textarea {
    width: 30ch;
  }
}

/* Footer */
footer {
  position: relative;
  padding: 1rem;
  text-align: center;
  background-color: #392421;
}

.social-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-footer li {
  margin: 2rem 0.5rem;
}

.social-footer a {
  text-decoration: none;
  color: #7e8c4f;
  font-size: 1.2rem;
}
footer p {
  color: #f0dac5;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}
/*whatsapp styles*/
.qlwapp-whatsapp-icon {
  font-family: "qlwapp-whatsapp" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.qlwapp-whatsapp-icon:before {
  content: "\e900";
}
#qlwapp {
  pointer-events: none;
  box-sizing: border-box;
}
@media (min-width: 430px) {
  #qlwapp {
    width: 430px;
  }
}
#qlwapp * {
  box-sizing: border-box;
}
#qlwapp.qlwapp-js-ready {
  display: block;
}
#qlwapp.qlwapp-hide,
#qlwapp.qlwapp-desktop.mobile,
#qlwapp.qlwapp-mobile.desktop {
  display: none;
}
#qlwapp .qlwapp-readonly,
#qlwapp.qlwapp-readonly {
  pointer-events: none !important;
  opacity: 0.5 !important;
}
#qlwapp .qlwapp-disabled,
#qlwapp.qlwapp-disabled {
  display: none;
  visibility: hidden;
}
#qlwapp.qlwapp-middle-left,
#qlwapp.qlwapp-bottom-left,
#qlwapp.qlwapp-middle-right,
#qlwapp.qlwapp-bottom-right {
  position: fixed;
  z-index: 9999999;
}
#qlwapp.qlwapp-middle-left,
#qlwapp.qlwapp-bottom-left {
  right: auto;
  left: 0;
}
#qlwapp.qlwapp-middle-left .qlwapp-toggle .qlwapp-days,
#qlwapp.qlwapp-middle-left .qlwapp-toggle .qlwapp-time,
#qlwapp.qlwapp-bottom-left .qlwapp-toggle .qlwapp-days,
#qlwapp.qlwapp-bottom-left .qlwapp-toggle .qlwapp-time {
  left: 0;
  right: auto;
}
#qlwapp.qlwapp-middle-left.qlwapp-bubble .qlwapp-developer,
#qlwapp.qlwapp-middle-left.qlwapp-bubble .qlwapp-toggle,
#qlwapp.qlwapp-middle-left.qlwapp-button .qlwapp-developer,
#qlwapp.qlwapp-middle-left.qlwapp-button .qlwapp-toggle,
#qlwapp.qlwapp-bottom-left.qlwapp-bubble .qlwapp-developer,
#qlwapp.qlwapp-bottom-left.qlwapp-bubble .qlwapp-toggle,
#qlwapp.qlwapp-bottom-left.qlwapp-button .qlwapp-developer,
#qlwapp.qlwapp-bottom-left.qlwapp-button .qlwapp-toggle {
  margin-left: 20px;
}
#qlwapp.qlwapp-middle-left.qlwapp-bubble .qlwapp-toggle .qlwapp-text,
#qlwapp.qlwapp-bottom-left.qlwapp-bubble .qlwapp-toggle .qlwapp-text {
  right: auto;
  left: 60px;
}
#qlwapp.qlwapp-middle-left .qlwapp-box:before,
#qlwapp.qlwapp-bottom-left .qlwapp-box:before {
  right: auto;
  left: 20px;
}
#qlwapp.qlwapp-middle-right,
#qlwapp.qlwapp-bottom-right {
  left: auto;
  right: 0;
}
#qlwapp.qlwapp-middle-right .qlwapp-toggle .qlwapp-days,
#qlwapp.qlwapp-middle-right .qlwapp-toggle .qlwapp-time,
#qlwapp.qlwapp-bottom-right .qlwapp-toggle .qlwapp-days,
#qlwapp.qlwapp-bottom-right .qlwapp-toggle .qlwapp-time {
  left: auto;
  right: 0;
}
#qlwapp.qlwapp-middle-right.qlwapp-bubble .qlwapp-developer,
#qlwapp.qlwapp-middle-right.qlwapp-bubble .qlwapp-toggle,
#qlwapp.qlwapp-middle-right.qlwapp-button .qlwapp-developer,
#qlwapp.qlwapp-middle-right.qlwapp-button .qlwapp-toggle,
#qlwapp.qlwapp-bottom-right.qlwapp-bubble .qlwapp-developer,
#qlwapp.qlwapp-bottom-right.qlwapp-bubble .qlwapp-toggle,
#qlwapp.qlwapp-bottom-right.qlwapp-button .qlwapp-developer,
#qlwapp.qlwapp-bottom-right.qlwapp-button .qlwapp-toggle {
  margin-right: 20px;
}
#qlwapp.qlwapp-middle-left,
#qlwapp.qlwapp-middle-right {
  top: 40%;
  bottom: auto;
}
#qlwapp.qlwapp-middle-left .qlwapp-developer,
#qlwapp.qlwapp-middle-right .qlwapp-developer {
  padding: 0 24px;
}
#qlwapp.qlwapp-middle-left.qlwapp-button .qlwapp-developer,
#qlwapp.qlwapp-middle-left.qlwapp-button .qlwapp-toggle {
  margin-left: -48px;
  padding-left: 60px;
}
#qlwapp.qlwapp-middle-right.qlwapp-button .qlwapp-developer,
#qlwapp.qlwapp-middle-right.qlwapp-button .qlwapp-toggle {
  margin-right: -48px;
  padding-right: 60px;
}
#qlwapp.qlwapp-bottom-left,
#qlwapp.qlwapp-bottom-right {
  top: auto;
  bottom: 0;
}
#qlwapp.qlwapp-rounded.qlwapp-bubble .qlwapp-toggle {
  border-radius: 50%;
}
#qlwapp.qlwapp-rounded.qlwapp-button .qlwapp-toggle {
  border-radius: 50px;
}
@media (min-width: 430px) {
  #qlwapp.qlwapp-rounded .qlwapp-box {
    border-radius: 8px;
  }
}
#qlwapp.qlwapp-rounded .qlwapp-box .qlwapp-user,
#qlwapp.qlwapp-rounded .qlwapp-box .qlwapp-message {
  border-radius: 4px;
}
#qlwapp p:last-child {
  margin: 0;
}
#qlwapp time {
  opacity: 0.8;
  font-style: italic;
  font-size: 10px;
}
#qlwapp .qlwapp-no-contacts {
  display: flex;
  height: 134px;
  justify-content: center;
  align-items: center;
}
#qlwapp .qlwapp-container {
  display: flex;
  flex-direction: column;
}
#qlwapp .qlwapp-clearfix:before,
#qlwapp .qlwapp-clearfix:after {
  content: "";
  display: block;
  clear: both;
}
#qlwapp .qlwapp-previous,
#qlwapp .qlwapp-close {
  display: block;
  opacity: 0.8;
  font-style: unset;
  font-size: 24px;
  font-weight: bold;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  line-height: 24px;
  z-index: 1;
}
#qlwapp .qlwapp-previous {
  width: 16px;
  height: 36px;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  margin-right: auto;
}
#qlwapp .qlwapp-developer {
  font-size: 8px;
  top: -20px;
  position: relative;
}
#qlwapp .qlwapp-developer,
#qlwapp .qlwapp-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#qlwapp .qlwapp-toggle {
  pointer-events: all;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
  text-decoration: none;
}
#qlwapp .qlwapp-toggle,
#qlwapp .qlwapp-toggle:active,
#qlwapp .qlwapp-toggle:focus,
#qlwapp .qlwapp-toggle:hover {
  outline: none;
  text-decoration: none;
}
#qlwapp .qlwapp-toggle .qlwapp-days,
#qlwapp .qlwapp-toggle .qlwapp-time {
  position: absolute;
  bottom: -2em;
  color: initial;
  font-size: 10px;
  display: inline-block;
  top: auto;
  width: 120px;
}
#qlwapp .qlwapp-days > span {
  display: none;
}
#qlwapp .qlwapp-days > span.qlwapp-available-day {
  display: inline-block !important;
}
#qlwapp .qlwapp-avatar .qlwapp-avatar-container {
  overflow: hidden;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
#qlwapp .qlwapp-avatar .qlwapp-avatar-container img {
  width: 100%;
  height: auto;
}
#qlwapp.qlwapp-bubble .qlwapp-toggle {
  width: 60px;
  height: 60px;
}
#qlwapp.qlwapp-bubble .qlwapp-toggle .qlwapp-icon,
#qlwapp.qlwapp-bubble .qlwapp-toggle .qlwapp-close {
  position: absolute;
  display: block;
  pointer-events: none;
  font-size: 24px;
}
#qlwapp.qlwapp-bubble .qlwapp-toggle .qlwapp-text {
  position: absolute;
  right: 60px;
  height: 60px;
  margin: 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  white-space: pre;
  color: #f0dac5;
}
#qlwapp.qlwapp-button .qlwapp-toggle {
  height: 40px;
  white-space: nowrap;
  padding: 12px 24px;
}
#qlwapp.qlwapp-button .qlwapp-toggle .qlwapp-icon {
  margin: 0 12px 0 0;
}
#qlwapp.qlwapp-button .qlwapp-toggle .qlwapp-close {
  display: none;
}
#qlwapp .qlwapp-box {
  pointer-events: all;
  padding-bottom: 56px;
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  box-shadow: 0px 5px 40px 5px rgba(0, 0, 0, 0.5);
}
@media (min-width: 430px) {
  #qlwapp .qlwapp-box {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    box-shadow: 0 8px 25px -5px rgba(45, 62, 79, 0.15);
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
  }
  #qlwapp .qlwapp-box:before {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 24px;
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
  }
  #qlwapp .qlwapp-box .qlwapp-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  #qlwapp .qlwapp-box .qlwapp-footer,
  #qlwapp .qlwapp-box .qlwapp-response {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}
#qlwapp .qlwapp-box .qlwapp-header {
  position: relative;
  overflow: hidden;
}
#qlwapp .qlwapp-box .qlwapp-header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(315deg, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
}
#qlwapp .qlwapp-box .qlwapp-header .qlwapp-close {
  position: absolute;
  top: 12px;
  right: 12px;
}
@media (min-width: 430px) {
  #qlwapp .qlwapp-box .qlwapp-header .qlwapp-close {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 18px;
  }
}
#qlwapp .qlwapp-box .qlwapp-header .qlwapp-description {
  position: relative;
  display: flex;
  align-items: center;
}
#qlwapp .qlwapp-box .qlwapp-description,
#qlwapp .qlwapp-box .qlwapp-contact {
  padding: 12px 36px;
  height: 100%;
}
#qlwapp .qlwapp-box .qlwapp-description p,
#qlwapp .qlwapp-box .qlwapp-description h3 {
  color: inherit;
  font-family: inherit;
  margin: 0;
}
#qlwapp .qlwapp-box .qlwapp-description h3 {
  margin: 0 0 0.25em 0;
}
#qlwapp .qlwapp-box .qlwapp-contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#qlwapp .qlwapp-box .qlwapp-contact .qlwapp-previous {
  position: relative;
  left: -16px;
}
#qlwapp .qlwapp-box .qlwapp-contact .qlwapp-previous > i {
  line-height: 36px;
}
#qlwapp .qlwapp-box .qlwapp-contact .qlwapp-avatar {
  width: 42px;
  height: 42px;
}
#qlwapp .qlwapp-box .qlwapp-contact .qlwapp-label,
#qlwapp .qlwapp-box .qlwapp-contact .qlwapp-name {
  color: inherit;
}
#qlwapp .qlwapp-box .qlwapp-account {
  color: inherit;
  padding: 16px 36px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}
#qlwapp .qlwapp-box .qlwapp-account:only-of-type {
  padding-top: 36px;
  padding-bottom: 36px;
}
#qlwapp .qlwapp-box .qlwapp-info {
  padding: 0 16px;
}
#qlwapp .qlwapp-box .qlwapp-avatar {
  position: relative;
  width: 62px;
  height: 62px;
}
#qlwapp .qlwapp-box .qlwapp-avatar:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 4;
}
#qlwapp .qlwapp-box .qlwapp-days,
#qlwapp .qlwapp-box .qlwapp-time,
#qlwapp .qlwapp-box .qlwapp-label,
#qlwapp .qlwapp-box .qlwapp-hidden,
#qlwapp .qlwapp-box .qlwapp-offline-text {
  font-size: 12px;
  line-height: 1.5em;
  opacity: 0.6;
  display: block;
}
#qlwapp .qlwapp-box .qlwapp-days,
#qlwapp .qlwapp-box .qlwapp-time {
  font-size: 11px;
  font-style: italic;
}
#qlwapp .qlwapp-box .qlwapp-name {
  display: block;
  font-weight: bold;
  line-height: 1.5em;
}
#qlwapp .qlwapp-box .qlwapp-body {
  overflow-x: hidden;
  overflow-y: auto;
}
#qlwapp .qlwapp-box .qlwapp-body .qlwapp-carousel {
  max-height: 470px;
  min-height: 134px;
}
#qlwapp .qlwapp-box .qlwapp-chat {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#qlwapp .qlwapp-previous,
#qlwapp .qlwapp-close,
#qlwapp .qlwapp-toggle,
#qlwapp .qlwapp-box .qlwapp-header,
#qlwapp .qlwapp-box .qlwapp-contact,
#qlwapp .qlwapp-box .qlwapp-user {
  color: #f0dac5;
  font-size: 1.1rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}
#qlwapp.qlwapp-bubble .qlwapp-toggle .qlwapp-text {
  color: #392421;
}

#qlwapp .qlwapp-toggle,
#qlwapp .qlwapp-box .qlwapp-header,
#qlwapp .qlwapp-box .qlwapp-user,
#qlwapp .qlwapp-box .qlwapp-user:before {
  background-color: #392424;
}
