/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: garamond;
  background-color: #eee;
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Header */
header {
  color: white;
  display: flex;
  flex-direction: column;
}

/* Top Section: Social Icons */
.top-bar {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  padding-left: 140px;
  padding-right: 150px;
}

.social-icons {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  color: rgba(0, 176, 80, 255);
}

.social-icons li a {
  text-decoration: none;
  color: rgba(14, 151, 204, 0.9);
  font-size: 1.2rem;
}
.social-icons li a:hover {
  color: rgba(58, 82, 92, 0.9);
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 176, 80, 255);
  background-image: linear-gradient(#00000080, #00000080);
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 140px;
  padding-right: 150px;
}
/* Middle Section: Logo */
.logo-container {
  flex-basis: 30%;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  top: auto;
  left: 19px;
}

/* Bottom Section: Navigation */
.navbar {
  flex-basis: 70%;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.8;
}

.navbar-nav li {
  vertical-align: top;
  margin: 0 1rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: inline-block;
}
.navbar-nav li a {
  text-decoration: none;
  color: #00000080;
  font-weight: bold;
  transition: color 0.3s;
  margin-left: 10px;
  text-transform: uppercase;
}

.navbar-nav li a:hover {
  color: rgba(58, 82, 92, 0.9);
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f8e6b1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .top-bar {
    padding: 0.5rem;
  }

  .main-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
  }

  .logo-container img {
    padding: 20px;
    width: 100%;
  }

  .hamburger-menu {
    font-size: 1.8rem;
    display: block;
    cursor: pointer;
    color: rgba(14, 151, 204, 0.9);
    position: absolute; /* Add this */
    z-index: 20;
    left: 0;
  }

  /* Navigation */
  .navbar {
    padding: 1rem 0;
    display: flex !important;
    justify-content: space-around !important;
    width: 100%;
  }

  .navbar-nav {
    margin-top: 4.6rem;
    margin-left: 0 !important;
    list-style: none;
    display: none;
    flex-direction: column !important;
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 100%;
    width: 400px;
    padding-bottom: 65px;
    padding-right: 40px;
    background-color: rgba(0, 176, 80, 255);
    background-image: linear-gradient(#00000080, #00000080);
  }

  .navbar-nav.active {
    background-color: #fff;
    display: none;
  }

  .navbar-nav li {
    border-bottom: 1px solid rgba(14, 151, 204, 0.9);
    width: 100%;
    max-width: 100%;
    height: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    font-weight: 400;
  }

  .navbar-nav li a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    margin-left: 40px;
  }
}

/* the home styling starts here */
#home {
  position: relative;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.description h1 {
  letter-spacing: 4px;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 68px;
  font-size: 37px;
  font-weight: 700;
  line-height: 40px;
  color: rgba(14, 151, 204, 0.9);
  font-family: garamond;
}

.description p {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
  color: #00000080 !important;
  font-family: garamond;
}

@media (max-width: 767px) {
  /* Mobile devices */
  #home {
    height: 75vh;
  }

  .description h1 {
    width: 100%;
    margin: 10px;
    font-size: 37px;
    font-weight: 600;
    line-height: normal;
  }

  .description p {
    font-size: 1.1rem;
    line-height: normal;
    font-weight: 600;
    color: snow;
  }
}

/* ....................................... */

.ff1 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: garamond;
}

.text-block5 {
  text-align: left;
  width: 80%;
  position: relative;
}
.text-block-4 {
  text-align: left;
  background-color: #0000;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  position: relative;
  left: auto;
}
.images-container {
  justify-content: space-between;
  display: flex;
  position: relative;
}
.content-container {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  position: relative;
}

.image-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: relative;
  margin-bottom: 30px;
  position: relative;
}
.image-wrapper:hover {
  background-color: #e3e3e3;
  opacity: 0.5;
}
.image-wrapper img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
  padding-bottom: 0;
}
a:active,
a:hover {
  outline: 0;
}
a {
  text-decoration: underline;
  background-color: #0000;
}
.div-block-35,
.div-block-36,
.div-block-37 {
  position: relative;
}
.heading-15 {
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.button-22 {
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid #000;
  width: 100%;
  margin-top: 15px;
  padding: 15px 0;
}

.overlay-3 {
  opacity: 0;
  background-color: #e3e3e3;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .ff1 {
    padding-bottom: 40px;
    margin: auto 10px;
  }

  .text-block5 {
    text-align: left;
    width: 90%;
    position: relative;
  }
  .text-block-4 {
    text-align: left;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    position: relative;
    left: auto;
  }
  .images-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .content-container {
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .image-wrapper {
    width: 100%;
    height: 100%;
  }
  .image-wrapper img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}
/* Footer */
footer {
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 176, 80, 255);
  background-image: linear-gradient(#00000080, #00000080);
}

.social-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-footer li {
  margin: 2rem 0.5rem;
}

.social-footer a {
  text-decoration: none;
  color: rgba(14, 151, 204, 0.9);
  font-size: 1.2rem;
}
